* {
  box-sizing: border-box;
}

.search-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.search-form {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.word-display {
  font-size: 2em;
  padding-bottom: 4px;
  margin: 0;
}

.word-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.word-card {
  background-color: lightgray;
  padding: 16px;
  border-radius: 10px;
  margin: 8px 16px;
  width: 60%;
}

.part-of-speech {
  margin: 8px;
  font-style: italic;
  align-self: flex-start;
}

.date {
  margin: 16px;
  font-size: 0.9em;
}

.definition-set {
  list-style: none;
  padding: 0;
  margin: 0;
}

.definition-text {
  margin: 8px;
}
